In [1]:
import pandas as pd
df = pd.read_csv('http://bit.ly/kaggletrain', nrows=6)
df = df[['Age', 'Pclass', 'Survived']]
df

    Age  Pclass  Survived
0  22.0       3         0
1  38.0       1         1
2  26.0       3         1
3  35.0       1         1
4  35.0       3         0
5   NaN       3         0

In [2]:
X = df[['Age', 'Pclass']]
y = df['Survived']

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline

In [4]:
pipe = make_pipeline(SimpleImputer(), LogisticRegression())

In [5]:
# use semicolon to suppress output in IPython
pipe.fit(X, y);

In [6]:
# display the imputation values for "Age" and "Pclass"
pipe.named_steps.simpleimputer.statistics_

array([31.2       ,  2.33333333])

In [7]:
# display the model coefficients for "Age" and "Pclass"
pipe.named_steps.logisticregression.coef_

array([[ 0.03232238, -0.83741131]])