In [1]:
import pandas as pd
df = pd.read_csv('http://bit.ly/kaggletrain', nrows=6)

In [2]:
cols = ['Embarked', 'Sex', 'Age', 'Fare']
X = df[cols]
X[:2]

  Embarked     Sex   Age     Fare
0        S    male  22.0   7.2500
1        C  female  38.0  71.2833

In [3]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression

In [4]:
ohe = OneHotEncoder()
imp = SimpleImputer()
clf = LogisticRegression()

In [5]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [6]:
ct = make_column_transformer(
    (ohe, ['Embarked', 'Sex']),
    (imp, ['Age']),
    remainder='passthrough')

In [7]:
pipe = make_pipeline(ct, clf)

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [9]:
ct = ColumnTransformer(
    [('encoder', ohe, ['Embarked', 'Sex']),
     ('imputer', imp, ['Age'])],
    remainder='passthrough')

In [10]:
pipe = Pipeline([('preprocessor', ct), ('classifier', clf)])

In [11]:
pipe

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('encoder', OneHotEncoder(),
                                                  ['Embarked', 'Sex']),
                                                 ('imputer', SimpleImputer(),
                                                  ['Age'])])),
                ('classifier', LogisticRegression())])