In [1]:
import pandas as pd
df = pd.read_csv('https://www.openml.org/data/get_csv/1595261/adult-census.csv')
df[:4]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K

In [2]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

In [3]:
categorical_cols = ['workclass', 'education', 'marital-status',
                    'occupation', 'relationship', 'race', 'sex']

In [4]:
X = df[categorical_cols]
y = df['class']

In [5]:
# OneHotEncoder creates 60 columns
ohe = OneHotEncoder()
ohe.fit_transform(X).shape

(48842, 60)

In [6]:
# OrdinalEncoder creates 7 columns
oe = OrdinalEncoder()
oe.fit_transform(X).shape

(48842, 7)

In [7]:
# Random Forests is a tree-based model
rf = RandomForestClassifier(random_state=1, n_jobs=-1)

In [8]:
# Pipeline containing OneHotEncoder
ohe_pipe = make_pipeline(ohe, rf)
%time cross_val_score(ohe_pipe, X, y).mean()

CPU times: total: 3.56 s
Wall time: 25.1 s

0.8262561170407418

In [9]:
# Pipeline containing OrdinalEncoder
oe_pipe = make_pipeline(oe, rf)
%time cross_val_score(oe_pipe, X, y).mean()

CPU times: total: 3.03 s
Wall time: 4.46 s

0.8256623624061437