In [1]:
import pandas as pd
X = pd.DataFrame({'col':['A', 'B', 'C', 'B']})
X_new = pd.DataFrame({'col':['A', 'C', 'D']})

In [2]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [3]:
X

  col
0   A
1   B
2   C
3   B

In [4]:
# three columns represent categories A, B, and C
ohe.fit_transform(X[['col']])

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [5]:
# category D was not learned by OneHotEncoder during the "fit" step
X_new

  col
0   A
1   C
2   D

In [6]:
# category D is encoded as all zeros
ohe.transform(X_new[['col']])

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 0.]])