In [1]:
import pandas as pd
df = pd.read_csv('http://bit.ly/kaggletrain', usecols=['Survived', 'Pclass', 'Fare'])
df[:4]

   Survived  Pclass     Fare
0         0       3   7.2500
1         1       1  71.2833
2         1       3   7.9250
3         1       1  53.1000

In [2]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()

In [3]:
X = df[['Pclass', 'Fare']]
y = df['Survived']

In [4]:
print(type(X))
print(type(y))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [5]:
# there's no need to use X.values or y.values
clf.fit(X, y)

LogisticRegression()