In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

In [2]:
df = pd.read_csv('http://bit.ly/kaggletrain').dropna()
df[:4]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S

In [3]:
# select 4 features
X = df[['Embarked', 'Sex', 'Parch', 'Fare']]
X[:4]

   Embarked     Sex  Parch     Fare
1         C  female      0  71.2833
3         S  female      0  53.1000
6         S    male      0  51.8625
10        S  female      1  16.7000

In [4]:
# one-hot encode "Embarked" and "Sex", and passthrough "Parch" and "Fare"
ct = make_column_transformer(
    (OneHotEncoder(), ['Embarked', 'Sex']),
    remainder='passthrough')

In [5]:
# ColumnTransformer outputs 7 columns
ct.fit_transform(X).shape

(183, 7)

In [6]:
# get the names of those 7 features
ct.get_feature_names()

C:\Users\Ivo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['onehotencoder__x0_C',
 'onehotencoder__x0_Q',
 'onehotencoder__x0_S',
 'onehotencoder__x1_female',
 'onehotencoder__x1_male',
 'Parch',
 'Fare']